// Very Dark Blue: hsl(235, 21%, 11%)
// Very Dark Desaturated Blue: hsl(235, 24%, 19%)
// Light Grayish Blue: hsl(234, 39%, 85%)
// Light Grayish Blue (hover): hsl(236, 33%, 92%)
// Dark Grayish Blue: hsl(234, 11%, 52%)
// Very Dark Grayish Blue: hsl(233, 14%, 35%)
// Very Dark Grayish Blue: hsl(237, 14%, 26%)

html[data-theme='light'] {
  --bg-color: hsl(234, 39%, 85%);
  --text-color: hsl(235, 21%, 11%);
}

html[data-theme='dark'] {
  --bg-color: hsl(235, 21%, 11%);
  --text-color: hsl(234, 39%, 85%);
  --list-bg-color: hsl(237, 14%, 26%);
  --item-bg-color: hsl(235, 24%, 19%);
  --item-border-color: hsl(237, 14%, 26%);
  --checkbox-bg-inactive-color: hsl(235, 24%, 19%);
  --checkbox-border-inactive-color: hsl(237, 14%, 26%);
}

$white: #fff;
$bg-color: var(--bg-color);
$text-color: var(--text-color);
$list-bg-color: var(--list-bg-color);
$item-bg-color: var(--item-bg-color);
$item-border-color: var(--item-border-color);
$checkbox-bg-inactive-color: var(--checkbox-bg-inactive-color);
$checkbox-border-inactive-color: var(--checkbox-border-inactive-color);
$checkbox-gradient: linear-gradient(135deg, #6ac6ff, #ae7ef4);
$checkbox-gradient-hover: linear-gradient(135deg, #8ed4ff, #c198ff);

$border-radius: 0.2rem;
$transition-duration: 200ms;
