// Very Dark Blue: hsl(235, 21%, 11%)
// Very Dark Desaturated Blue: hsl(235, 24%, 19%)
// Light Grayish Blue: hsl(234, 39%, 85%)
// Light Grayish Blue (hover): hsl(236, 33%, 92%)
// Dark Grayish Blue: hsl(234, 11%, 52%)
// Very Dark Grayish Blue: hsl(233, 14%, 35%)
// Very Dark Grayish Blue: hsl(237, 14%, 26%)

html[data-theme='light'] {
  --bg-color: hsl(234, 39%, 85%);
  --text-color: hsl(235, 21%, 11%);
}

html[data-theme='dark'] {
  --bg-color: hsl(235, 21%, 11%);
  --text-color: hsl(234, 39%, 85%);
}

$bg-color: var(--bg-color);
$text-color: var(--text-color);
