@use '../../assets/scss/variables' as v;

.root {
  background-color: v.$list-bg-color;
  border-radius: v.$border-radius;

  .item {
    padding: 1rem;
    background-color: v.$item-bg-color;
    border-top: 0.1rem solid v.$item-border-color;
  }

  .item:first-child {
    border-top: none;
    border-top-left-radius: v.$border-radius;
    border-top-right-radius: v.$border-radius;
  }

  .title {
    margin-left: 1rem;
  }
}
