@use './assets/scss/variables' as v;

.root {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .container {
    width: 540px;
    padding: 6rem 2rem;
  }

  .message {
    margin-top: 4rem;
    font-size: 0.8rem;
    text-align: center;
    color: v.$dark-grayish-blue;
  }
}
